@model NaniWeb.Models.Profile.NewPasswordForm

@{
    ViewData["Title"] = "Change password - Profile";
}

<partial name="_ProfileNav"/>


<div class="container w-25 mt-5">
    <div class="card bg-primary border-secondary">
        <h5 class="card-header bg-primary">Change password</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Password changed successfully.
                </div>
            }
            <form id="new_password_form" asp-action="ChangePassword" novalidate>
                <fieldset>
                    <div class="form-group">
                        <label for="old_password">Current password</label>
                        <input class="form-control" id="old_password" asp-for="OldPassword" aria-describedby="old_password_help" placeholder="Current password">
                        <small id="old_password_help" class="form-text text-muted">Your current password.</small>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New password</label>
                        <input class="form-control" id="new_password" asp-for="NewPassword" aria-describedby="new_password_help" placeholder="Password">
                        <small id="new_password_help" class="form-text text-muted">Your new password. Minimum of 8 characters. Alphanumeric characters and symbols are allowed.</small>
                    </div>
                    <div class="form-group">
                        <label for="new_password_confirm">Confirm your password</label>
                        <input type="password" class="form-control" id="new_password_confirm" aria-describedby="password_confirm_help" placeholder="Password">
                        <small id="new_password_confirm_help" class="form-text text-muted">Repeat your new password.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-block btn-success" id="submit" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $("#new_password_form").submit(function(e) {
            const oldPassword = $("#old_password");
            const newPassword = $("#new_password");
            const newPasswordConfirm = $("#new_password_confirm");
            
            if (!validatePassword(oldPassword.val())) {
                password.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }
            
            if (!validatePassword(newPassword.val())) {
                password.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }

            if (newPassword.val() !== newPasswordConfirm.val()) {
                newPasswordConfirm.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }
        });
    </script>
}