@{
    ViewData["Title"] = "Profile";
}

<partial name="_ProfileNav"/>

<div class="container">
    <div class="card bg-primary border-secondary mt-5">
        <h5 class="card-header bg-primary">Profile</h5>
    </div>
</div>