@inject SettingsKeeper SettingsKeeper
@model ChapterAdd

@{
    var enableReddit = bool.Parse(SettingsKeeper.GetSetting("EnableReddit").Value);
    ViewData["Title"] = "Add - Chapter";
}

<partial name="_AdminNav"/>

<div class="container mt-3">
    <div class="card bg-primary border-secondary">
        <h5 class="card-header bg-primary">Chapters</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            <form id="add_chapter_form" enctype="multipart/form-data" asp-controller="ChapterManager" asp-action="Add" novalidate>
                <fieldset>
                    <legend>Add Chapter</legend>
                    <input type="hidden" asp-for="SeriesId"/>
                    <div class="form-group">
                        <label for="series_name">Series</label>
                        <input class="form-control" id="series_name" asp-for="@ViewData["SeriesName"]" disabled>
                    </div>
                    <div class="form-group">
                        <label for="chapter_volume">Volume</label>
                        <input class="form-control" id="chapter_volume" asp-for="Volume" aria-describedby="chapter_volume_help" placeholder="Volume">
                        <small id="chapter_volume_help" class="form-text text-muted">If this chapter is part of a volume add it here, otherwise keep it zero or empty.</small>
                    </div>
                    <div class="form-group">
                        <label for="chapter_number">Chapter Number</label>
                        <input class="form-control" id="chapter_number" asp-for="ChapterNumber" aria-describedby="chapter_number_help" placeholder="Chapter Number" type="number" step="0.01">
                        <small id="chapter_number_help" class="form-text text-muted">The number of this chapter.</small>
                    </div>
                    <div class="form-group">
                        <label for="chapter_name">Name</label>
                        <input class="form-control" id="chapter_name" asp-for="Name" aria-describedby="chapter_name_help" placeholder="Name">
                        <small id="chapter_name_help" class="form-text text-muted">The name of this chapter.</small>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" id="announce_on_reddit" aria-describedby="announce_on_reddit_help" asp-for="AnnounceOnReddit" disabled="@(enableReddit ? null : string.Empty)"/>Announce on Reddit
                            </label>
                        </div>
                        <small id="announce_on_reddit_help" class="form-text text-muted">Announce this chapter on Reddit. Remember to check if you have configured the Reddit functionality properly. Be aware that if you are going to release multiple chapters of the same series, reddit rules only allows one post for all the chapters you released.</small>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" id="announce_on_reddit_nsfw" aria-describedby="announce_on_reddit_nsfw_help" asp-for="RedditNsfw" disabled="@(enableReddit ? null : string.Empty)"/>NSFW
                            </label>
                        </div>
                        <small id="announce_on_reddit_nsfw_help" class="form-text text-muted">Whether you consider this chapter to be NSFW.</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" aria-describedby="chapter_pages_help">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="chapter_pages" accept=".zip" asp-for="Pages">
                                <label class="custom-file-label" for="chapter_pages" id="chapter_pages_label">Choose File</label>
                            </div>
                        </div>
                        <small id="chapter_pages_help" class="form-text text-muted">A zip file with all pages. The pages must be in the PNG format.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Add Chapter</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $("#series").addClass("active");

        $("#chapter_pages").change(function(event) {
            const file = event.target.files[0].name;
            $("#chapter_pages_label").text(file);
        });
    </script>
}