@model NaniWeb.Models.SignIn.NewPasswordForm

@{
    ViewData["Title"] = "Password Reset";
}

@section Header
{
    <link rel="stylesheet" href="~/libs/css/login.css"/>
}

<form class="form-signin" id="new_password_form" asp-controller="SignIn" asp-action="NewPassword" novalidate>
    <div class="text-center mb-4">
        <h1 class="h2 font-weight-normal">Reset Password</h1>
    </div>
    @if (TempData["Error"] != null && (bool) TempData["Error"])
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Something went wrong. Please check your data and try again.
        </div>
    }
    <div class="form-label-group">
        <input id="password" class="form-control" placeholder="Password" asp-for="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-label-group mb-3">
        <input id="password_confirm" class="form-control" placeholder="Password (again)" type="password">
        <label for="password_confirm">Password (again)</label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
</form>

@section Body
{
    <script>
        $("#new_password_form").submit(function(e) {
            const password = $("#password");
            const passwordConfirm = $("#password_confirm");

            if (!validatePassword(password.val())) {
                password.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }

            if (password.val() !== passwordConfirm.val()) {
                passwordConfirm.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }
        });
    </script>
}