@model ResetPasswordForm

@{
    ViewData["Title"] = "Password Reset";
}

@section Header
{
    <link rel="stylesheet" href="~/libs/css/login.css"/>
}

<form class="form-signin" id="reset_password_form" asp-controller="SignIn" asp-action="ResetPassword" novalidate>
    <div class="text-center mb-4">
        <h1 class="h2 font-weight-normal">Reset Password</h1>
    </div>
    @if (TempData["Error"] != null && (bool) TempData["Error"])
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Something went wrong. Please check your data and try again.
        </div>
    }
    <div class="form-label-group mb-3">
        <input id="email" class="form-control" placeholder="Email Address" asp-for="Email">
        <label for="email">Email Address</label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
</form>

@section Body
{
    <script>
        $("#reset_password_form").submit(function(e) {
            const email = $("#email");

            if (!validateEmail(email.val())) {
                email.addClass("is-invalid").focus();
                e.preventDefault();
                return;
            }
        });
    </script>
}