@inject SettingsKeeper SettingsKeeper
@model SignInForm

@{
    ViewData["Title"] = "Sign in";
    var enableRegistration = bool.Parse(SettingsKeeper.GetSetting("EnableRegistration").Value);
    var enableEmail = bool.Parse(SettingsKeeper.GetSetting("EnableEmailRecovery").Value);
}

@section Header
{
    <link rel="stylesheet" href="~/libs/css/login.css"/>
}

<form class="form-signin" id="signin_form" asp-controller="SignIn" asp-action="SignIn" novalidate>
    <div class="text-center mb-4">
        <h1 class="h2 font-weight-normal">Sign in</h1>
    </div>
    @switch (TempData["Result"]?.ToString())
    {
        case "Error":
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Something went wrong. Please check your data and try again.
            </div>
            break;
        case "EmailRegSent":
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                A message was sent to your email. Follow the link inside to activate your account.
            </div>
            break;
        case "EmailResSent":
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                A message was sent to your email. Follow the link inside to reset your password.
            </div>
            break;
        case "EmailRegConfirmed":
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Your e-mail has been confirmed. You can now sign in.
            </div>
            break;
        case "ResConfirm":
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Your password has been reset. You can now sign in using your new password.
            </div>
            break;
        case "RegComplete":
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Sign up complete. You can now sign in.
            </div>
            break;
    }
    <div class="form-label-group">
        <input id="username" class="form-control" placeholder="Username" asp-for="Username" autofocus>
        <label for="username">Username</label>
    </div>
    <div class="form-label-group">
        <input id="password" class="form-control" placeholder="Password" asp-for="Password">
        <label for="password">Password</label>
    </div>
    <div class="custom-control custom-checkbox text-center mb-3">
        <input class="custom-control-input" id="remember" asp-for="Remember">
        <label class="custom-control-label" for="remember">Remember me</label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    <div class="btn-group btn-block" role="group" aria-label="Account actions">
        <a class="btn btn-lg btn-primary w-100 @(enableRegistration ? string.Empty : "disabled")" href="@Url.Action("SignUp")">Sign up</a>
        <a class="btn btn-lg btn-warning w-100 @(enableEmail ? string.Empty : "disabled")" href="@Url.Action("ResetPassword")">Reset password</a>
    </div>
</form>

@section Body
{
    <script>
        $('#signin_form').submit(function(e) {
            const username = $("#username");
            const password = $("#password");

            if (!validateGenericInput3Chars(username.val())) {
                username.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }

            if (!validatePassword(password.val())) {
                password.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }
        });
    </script>
}