@inject SettingsKeeper SettingsKeeper
@model SignInForm

@{
    ViewData["Title"] = "Sign in";
    var enableRegistration = bool.Parse(SettingsKeeper.GetSetting("EnableRegistration").Value);
    var enableEmail = bool.Parse(SettingsKeeper.GetSetting("EnableEmailRecovery").Value);
}

@section Header
{
    <link rel="stylesheet" href="~/libs/css/siteop1.css"/>
}

<form id="signin_form" class="form-a bg-dark rounded mx-auto text-center text-white" asp-controller="SignIn" asp-action="SignIn" novalidate>
    <div class="mx-4 mt-3">
        <img class="mb-3" src="~/assets/login_logo.png" alt="" width="200" height="44">

        @if (enableRegistration && enableEmail)
        {
            <h1 class="h5 mb-4 font-weight-normal">Please sign in or <a asp-controller="SignIn" asp-action="SignUp">sign up</a>. You can also <a asp-controller="SignIn" asp-action="ResetPassword">reset</a> your password.</h1>
        }
        else if (enableEmail)
        {
            <h1 class="h5 mb-4 font-weight-normal">Please sign in. You can also <a asp-controller="SignIn" asp-action="ResetPassword">reset</a> your password.</h1>
        }
        else
        {
            <h1 class="h5 mb-4 font-weight-normal">Please sign in.</h1>
        }

        @switch (ViewData["Result"]?.ToString())
        {
            case "Error":
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
                break;
            case "EmailRegSent":
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    A message was sent to your email. Follow the link inside to activate your account.
                </div>
                break;
            case "EmailResSent":
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    A message was sent to your email. Follow the link inside to reset your password.
                </div>
                break;
            case "EmailRegConfirmed":
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Your e-mail has been confirmed. You can now sign in.
                </div>
                break;
            case "ResConfirm":
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Your password has been reset. You can now sign in using your new password.
                </div>
                break;
        }
    </div>
    <div class="form-group mx-4">
        <input class="form-control mb-1" id="username" asp-for="Username" placeholder="Username" data-container="body" data-toggle="popover" data-placement="right" data-content="Minimum of 3 characters. Alphanumeric characters and symbols are allowed." autofocus/>
        <input class="form-control mb-3" id="password" asp-for="Password" placeholder="Password" data-container="body" data-toggle="popover" data-placement="right" data-content="Minimum of 8 characters. Alphanumeric characters and symbols are allowed."/>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="remember" asp-for="Remember"/>Remember me
            </label>
        </div>
    </div>
    <div class="mx-4 mt-3 mb-2">
        <button class="btn btn-success btn-block" id="submit" type="submit">Sign in</button>
    </div>
</form>

@section Body
{
    <script>
        $('#signin_form').submit(function(e) {
            const username = $("#username");
            const password = $("#password");

            if (!validateUsername(username.val())) {
                username.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }

            if (!validatePassword(password.val())) {
                password.addClass("is-invalid").focus();
                e.preventDefault(e);
                return;
            }
        });
    </script>
}