@inject SettingsManager SettingsManager;

@{
    ViewData["Title"] = "Contact";
    ViewData["EnableAdsHere"] = true;
}

@section Header
{
    <partial name="_GoogleAnalytics"/>
}

<partial name="_HomeNav"/>
<partial name="_AdsTopSlot"/>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="card bg-primary border-secondary mb-3">
                <h5 class="card-header bg-primary">About Us</h5>
                <div class="card-body">
                    @if (!string.IsNullOrWhiteSpace(SettingsManager.GetSetting("SiteAboutPage").Value))
                    {
                        @Html.Raw(SettingsManager.GetSetting("SiteAboutPage").Value)
                    }
                    else
                    {
                        <div class="text-center">
                            <h3>Edit this page inside the admin panel.</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_SidePanel"/>
        </div>
    </div>
</div>
<partial name="_AdsBottomSlot"/>

@section Body
{
    <script>
        $("#about").addClass("active");
    </script>
}