@using NaniWeb.Data

@{
    var announcements = (List<Announcement>) ViewData["Announcements"];
    ViewData["Title"] = "Announcements";
}

@section Header
{
    <partial name="_GoogleAnalytics"/>
}

<partial name="_HomeNav"/>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card bg-primary border-secondary mb-3">
                <h5 class="card-header bg-primary">Announcements</h5>
                <div class="card-body">
                    @foreach (var announcement in announcements)
                    {
                        <div class="row my-1">
                            <div class="col-9">
                                <a href="@Url.Action("Announcement", new {urlSlug = announcement.UrlSlug})">@announcement.Title</a>
                            </div>
                            <div class="col-3 text-center">
                                @announcement.PostDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    }                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_SidePanel"/>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#announcements").addClass("active");
        });
    </script>
}