@using NaniWeb.Data
@{
    var announcements = (Announcement[]) ViewData["Announcements"];
    ViewData["Title"] = "Announcements";
}

@section Header
{
    <partial name="_GoogleAnalytics"/>
}

<partial name="_HomeNav"/>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="card bg-primary border-secondary mb-3">
                <h5 class="card-header bg-primary">Announcements</h5>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-8 my-auto text-center text-truncate">
                            <strong>Title</strong>
                        </div>
                        <div class="col-4 my-auto text-center text-truncate">
                            <strong>Date</strong>
                        </div>
                    </div>
                    @foreach (var announcement in announcements)
                    {
                        <div class="row my-1">
                            <div class="col-8 my-auto text-truncate text-center">
                                <a href="@Url.Action("Announcement", new {urlSlug = announcement.UrlSlug})">@announcement.Title</a>
                            </div>
                            <div class="col-4 my-auto text-truncate text-center">
                                @announcement.PostDate.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_SidePanel"/>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $("#announcements").addClass("active");
    </script>
}