@using NaniWeb.Data
@inject SettingsKeeper SettingsKeeper
@{
    var announcement = (Announcement) ViewData["Announcement"];
    ViewData["Title"] = $"{announcement.Title} - Announcements";
    ViewData["DisqusUrl"] = $"{SettingsKeeper.GetSetting("SiteUrl").Value}{Url.Action("Announcement", new {urlSlug = announcement.UrlSlug})}";
    ViewData["DisqusIdentifier"] = $"announcement_{announcement.UrlSlug}";
    ViewData["DisqusTitle"] = $"{announcement.Title}";
    ViewData["EnableAdsHere"] = true;
}

@section Header
{
    <partial name="_GoogleAnalytics"/>
}

<partial name="_HomeNav"/>
<partial name="_AdsTopSlot"/>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="card bg-primary border-secondary mb-3">
                <h5 class="card-header bg-primary">@announcement.Title</h5>
                <div class="card-body">
                    @Html.Raw(announcement.Content)
                </div>
                @if (bool.Parse(SettingsKeeper.GetSetting("EnableDisqus").Value))
                {
                    <div class="card-footer bg-primary disqus-container">
                        <partial name="_DisqusDiv"/>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_SidePanel"/>
        </div>
    </div>
</div>
<partial name="_AdsBottomSlot"/>

@section Body
{
    <partial name="_DisqusScript"/>
    <script>
        $("#announcements").addClass("active");
    </script>
}