@using NaniWeb.Data
@model ProjectSearch;
@{
    ViewData["Title"] = "Projects";
    var series = (Series[]) ViewData["Series"];
}

@section Header
{
    <partial name="_GoogleAnalytics"/>
}

<partial name="_HomeNav"/>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-3">
                <form id="search_series_form" class="form-inline ml-2" asp-controller="Home" asp-action="Projects" method="post" novalidate>
                    <div class="form-row mw-100 w-100">
                        <div class="col-5">
                            <input id="search_name" class="form-control w-100" asp-for="Name" placeholder="Project Name">
                        </div>
                        <div class="col-4">
                            <select id="search_status" class="form-control w-100" asp-for="Status" asp-items="Html.GetEnumSelectList<Series.SeriesStatus>()">
                            </select>
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-success btn-block">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card bg-primary border-secondary mb-3">
                <h5 class="card-header bg-primary">Projects</h5>
                <div class="card-body">
                    <div class="row">
                        @if (series.Length > 0)
                        {
                            foreach (var srs in series)
                            {
                                <div class="col-sm-4 mb-2">
                                    <div class="card bg-primary border-secondary mx-auto">
                                        <img class="card-img-top" src="~/images/covers/@($"{srs.Id}_small.png")" alt="Series cover">
                                        <div class="card-body text-center">
                                            <h6 class="card-title project-title">
                                                <a href="@Url.Action("Project", new {urlSlug = srs.UrlSlug})">@srs.Name</a>
                                            </h6>
                                            <strong>Status: </strong><span>@srs.Status</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col text-center">
                                <h3>No projects found.</h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_SidePanel"/>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $("#projects").addClass("active");
    </script>
}