@model DiscordForm

@{
    ViewData["Title"] = "Discord - Settings";
}

<partial name="_AdminNav"/>

<div class="container">
    <div class="card bg-primary border-secondary mt-5">
        <h5 class="card-header bg-primary">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="discord_settings_form" asp-controller="SettingsManager" asp-action="Discord" novalidate>
                <fieldset>
                    <legend>Discord settings</legend>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="enable_discord" asp-for="EnableDiscordBot"/>Enable discord bot
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="discord_token">Discord token</label>
                        <input class="form-control" id="discord_token" asp-for="DiscordToken" aria-describedby="discord_token_help" placeholder="Discord token">
                        <small id="discord_token_help" class="form-text text-muted">Your bot's token. Necessary to connect to discord's servers.</small>
                    </div>
                    <div class="form-group">
                        <label for="discord_channel_id">Channel ID</label>
                        <input class="form-control" id="discord_channel_id" asp-for="DiscordChannelId" aria-describedby="discord_channel_id_help" placeholder="Channel ID">
                        <small id="discord_channel_id_help" class="form-text text-muted">The ID of the channel where the bot will announce releases.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#settings").addClass("active");
        });
    </script>
}