@model DisqusForm

@{
    ViewData["Title"] = "Disqus - Settings";
}

<partial name="_AdminNav"/>

<div class="container">
    <div class="card bg-primary border-secondary mt-5">
        <h5 class="card-header bg-primary">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="disqus_settings_form" asp-controller="SettingsManager" asp-action="Disqus" novalidate>
                <fieldset>
                    <legend>Disqus settings</legend>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" aria-describedby="enable_disqus_help" id="enable_disqus" asp-for="EnableDisqus"/>Enable disqus
                            </label>
                        </div>
                        <small id="enable_disqus_help" class="form-text text-muted">Whether you want to enable disqus forum on this site.</small>
                    </div>
                    <div class="form-group">
                        <label for="disqus_shortname">Disqus shortname</label>
                        <input class="form-control" id="disqus_shortname" asp-for="DisqusShortname" aria-describedby="disqus_shortname_help" placeholder="Disqus shortname">
                        <small id="disqus_shortname_help" class="form-text text-muted">Your disqus forum's shortname.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#settings").addClass("active");
        });
    </script>
}