@model EmailForm

@{
    ViewData["Title"] = "Email - Settings";
}

<partial name="_AdminNav"/>

<div class="container mt-3">
    <div class="card bg-secondary border-light">
        <h5 class="card-header bg-secondary">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="email_settings_form" asp-controller="SettingsManager" asp-action="Email" novalidate>
                <fieldset>
                    <legend>Email Settings</legend>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" aria-describedby="enable_email_recovery_help" id="enable_email_recovery" asp-for="EnableEmailRecovery"/>Enable Email
                            </label>
                        </div>
                        <small id="enable_email_recovery_help" class="form-text text-muted">This functionality enables account recovery through email. It also enable a contact form.</small>
                    </div>
                    <div class="form-group">
                        <label for="smtp_server">SMTP Server</label>
                        <input class="form-control" id="smtp_server" asp-for="SmtpServer" aria-describedby="smtp_server_help" placeholder="SMTP Server address">
                        <small id="smtp_server_help" class="form-text text-muted">The address of the SMTP server that will send the email.</small>
                    </div>
                    <div class="form-group">
                        <label for="smtp_user">SMTP User</label>
                        <input class="form-control" id="smtp_user" asp-for="SmtpUser" aria-describedby="smtp_user_help" placeholder="SMTP Server User">
                        <small id="smtp_user_help" class="form-text text-muted">The user to authenticate with the specified SMTP server.</small>
                    </div>
                    <div class="form-group">
                        <label for="smtp_password">SMTP Password</label>
                        <input class="form-control" id="smtp_password" asp-for="SmtpPassword" aria-describedby="smtp_password_help" placeholder="SMTP Server Password">
                        <small id="smtp_password_help" class="form-text text-muted">The password to authenticate with the specified SMTP server.</small>
                    </div>
                    <div class="form-group">
                        <label for="site_email">Site Email</label>
                        <input class="form-control" id="site_email" asp-for="SiteEmail" aria-describedby="site_email_help" placeholder="Email Address">
                        <small id="site_email_help" class="form-text text-muted">The destination of the messages sent through the contact form.</small>
                    </div>
                    <div class="form-group">
                        <label for="recaptcha_site_key">ReCaptcha Site Key</label>
                        <input class="form-control" id="recaptcha_site_key" asp-for="RecaptchaSiteKey" aria-describedby="recaptcha_site_key_help" placeholder="ReCaptcha Site Key">
                        <small id="recaptcha_site_key_help" class="form-text text-muted">Your site key. Settings up ReCaptcha is necessary to avoid spam through the contact form.</small>
                    </div>
                    <div class="form-group">
                        <label for="recaptcha_secret_key">ReCaptcha Secret Key</label>
                        <input class="form-control" id="recaptcha_secret_key" asp-for="RecaptchaSecretKey" aria-describedby="recaptcha_secret_key_help" placeholder="ReCaptcha Secret Key">
                        <small id="recaptcha_secret_key_help" class="form-text text-muted">Your secret key.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $("#settings").addClass("active");
    </script>
}