@model FcmForm

@{
    ViewData["Title"] = "FCM - Settings";
}

<partial name="_AdminNav"/>

<div class="container">
    <div class="card mt-5">
        <h5 class="card-header">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="fcm_settings_form" enctype="multipart/form-data" asp-controller="SettingsManager" asp-action="Fcm" novalidate>
                <fieldset>
                    <legend>FCM Settings</legend>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="enable_google_analytics" asp-for="EnableFcm"/>Enable FCM
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="fcm_api_key">FCM Api key</label>
                        <input class="form-control" id="fcm_api_key" asp-for="FcmApiKey" aria-describedby="fcm_api_key_help" placeholder="FCM Api key">
                        <small id="fcm_api_key_help" class="form-text text-muted">Your firebase api key.</small>
                    </div>
                    <div class="form-group">
                        <label for="fcm_project_id">FCM Project id</label>
                        <input class="form-control" id="fcm_project_id" asp-for="FcmProjectId" aria-describedby="fcm_project_id_help" placeholder="FCM Project ID">
                        <small id="fcm_project_id_help" class="form-text text-muted">Your firebase project ID.</small>
                    </div>
                    <div class="form-group">
                        <label for="fcm_sender_id">FCM Sender ID</label>
                        <input class="form-control" id="fcm_sender_id" asp-for="FcmSenderId" aria-describedby="fcm_sender_id_help" placeholder="FCM Sender ID">
                        <small id="fcm_sender_id_help" class="form-text text-muted">Your firebase cloud messaging sender ID.</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" aria-describedby="fcm_file_help">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fcm_key" accept=".json" asp-for="FcmKeyFile">
                                <label class="custom-file-label" for="fcm_key" id="fcm_key_label">Choose file</label>
                            </div>
                        </div>
                        <small id="fcm_file_help" class="form-text text-muted">The key file that you downloaded from the firebase console.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#settings").addClass("active");
        });
        
        $("#fcm_key").change(function(event) {
            const file = event.target.files[0].name;
            $("#fcm_key_label").text(file);
        });
    </script>
}