@model GoogleAnalyticsForm

@{
    ViewData["Title"] = "Google Analytics - Settings";
}

<partial name="_AdminNav"/>

<div class="container mt-5">
    <div class="card bg-primary border-secondary">
        <h5 class="card-header bg-primary">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="google_analytics_settings_form" asp-controller="SettingsManager" asp-action="GoogleAnalytics" novalidate>
                <fieldset>
                    <legend>Google Analytics Settings</legend>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" aria-describedby="enable_google_analytics_help" id="enable_google_analytics" asp-for="EnableGoogleAnalytics"/>Enable Google Analytics
                            </label>
                        </div>
                        <small id="enable_google_analytics_help" class="form-text text-muted">Enable Google Analytics on public pages.</small>
                    </div>
                    <div class="form-group">
                        <label for="google_analytics_tracking_code">Tracking Code</label>
                        <input class="form-control" id="google_analytics_tracking_code" asp-for="GoogleAnalyticsTrackingCode" aria-describedby="google_analytics_tracking_code_help" placeholder="Tracking Code">
                        <small id="google_analytics_tracking_code_help" class="form-text text-muted">The code used by Google Analytics to identify this website.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save Settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#settings").addClass("active");
        });
    </script>
}