@model MangadexForm

@{
    ViewData["Title"] = "Mangadex - Settings";
}

<partial name="_AdminNav"/>

<div class="container mt-3">
    <div class="card bg-primary border-secondary">
        <h5 class="card-header bg-primary">Settings</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            else if (TempData["Error"] != null && !(bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Settings saved successfully.
                </div>
            }
            <form id="mangadex_settings_form" asp-controller="SettingsManager" asp-action="Mangadex" novalidate>
                <fieldset>
                    <legend>Mangadex Settings</legend>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" aria-describedby="enable_mangadex_auto_upload_help" id="enable_mangadex_auto_upload" asp-for="EnableMangadexAutoUpload"/>Enable Mangadex Uploader
                            </label>
                        </div>
                        <small id="enable_mangadex_auto_upload_help" class="form-text text-muted">Enable automatic upload of chapters to Mangadex.</small>
                    </div>
                    <div class="form-group">
                        <label for="mangadex_user">Mangadex User</label>
                        <input class="form-control" id="mangadex_user" asp-for="MangadexUser" aria-describedby="mangadex_user_help" placeholder="Mangadex User">
                        <small id="mangadex_user_help" class="form-text text-muted">The username that will be used to connect to Mangadex. This user must be authorized by the group to upload chapters.</small>
                    </div>
                    <div class="form-group">
                        <label for="mangadex_password">Mangadex Password</label>
                        <input class="form-control" id="mangadex_password" asp-for="MangadexPassword" aria-describedby="mangadex_password_help" placeholder="Mangadex Password">
                        <small id="mangadex_password_help" class="form-text text-muted">The password of the user that will be used to connect to Mangadex.</small>
                    </div>
                    <div class="form-group">
                        <label for="mangadex_group_id">Channel group ID</label>
                        <input class="form-control" id="mangadex_group_id" asp-for="MangadexGroupId" aria-describedby="mangadex_group_id_help" placeholder="Mangadex group ID">
                        <small id="mangadex_group_id_help" class="form-text text-muted">The ID of the group that the chapters uploaded here belong to.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save Settings</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#settings").addClass("active");
        });
    </script>
}