@inject SettingsKeeper SettingsKeeper
@using NaniWeb.Data
@model EditSeries

@{
    ViewData["Title"] = "Edit - Series";
    var enableMangadex = bool.Parse(SettingsKeeper.GetSetting("EnableMangadexAutoUpload").Value);
}

<partial name="_AdminNav"/>

<div class="container mt-3">
    <div class="card bg-primary border-secondary">
        <h5 class="card-header bg-primary">Series</h5>
        <div class="card-body">
            @if (TempData["Error"] != null && (bool) TempData["Error"])
            {
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Something went wrong. Please check your data and try again.
                </div>
            }
            <form id="edit_series_form" enctype="multipart/form-data" asp-controller="SeriesManager" asp-action="Edit" novalidate>
                <fieldset>
                    <legend>Edit Series</legend>
                    <input type="hidden" asp-for="SeriesId"/>
                    <div class="form-group">
                        <label for="series_name">Name</label>
                        <input class="form-control" id="series_name" asp-for="Name" aria-describedby="series_name_help" placeholder="Name">
                        <small id="series_name_help" class="form-text text-muted">The name of this series.</small>
                    </div>
                    <div class="form-group">
                        <label for="series_author">Author</label>
                        <input class="form-control" id="series_author" asp-for="Author" aria-describedby="series_author_help" placeholder="Author">
                        <small id="series_author_help" class="form-text text-muted">The name(s) of the author(s).</small>
                    </div>
                    <div class="form-group">
                        <label for="series_artist">Artist</label>
                        <input class="form-control" id="series_artist" asp-for="Artist" aria-describedby="series_artist_help" placeholder="Artist">
                        <small id="series_artist_help" class="form-text text-muted">The name(s) of the artist(s).</small>
                    </div>
                    <div class="form-group">
                        <label for="series_synopsis">Synopsis</label>
                        <textarea class="form-control" id="series_synopsis" asp-for="Synopsis" aria-describedby="series_synopsis_help" placeholder="Synopsis" rows="5"></textarea>
                        <small id="series_synopsis_help" class="form-text text-muted">The plot of this series. Not to be confused by PLOT.</small>
                    </div>
                    <div class="form-group">
                        <label for="series_mangadex_id">Mangadex ID</label>
                        <input class="form-control" id="series_mangadex_id" asp-for="MangadexId" aria-describedby="series_mangadex_id_help" placeholder="Mangadex ID" @(enableMangadex ? string.Empty : "disabled")>
                        <small id="series_mangadex_id_help" class="form-text text-muted">The mangadex id of this series. Used for automatic uploading.</small>
                    </div>
                    <div class="form-group">
                        <label for="series_type">Series Type</label>
                        <select class="form-control" id="series_type" asp-for="Type" asp-items="Html.GetEnumSelectList<Series.SeriesType>()" aria-describedby="series_type_help">
                        </select>
                        <small id="series_type_help" class="form-text text-muted">The type of this series. Used to determine the default layout for the reader.</small>
                    </div>
                    <div class="form-group">
                        <label for="series_status">Series Status</label>
                        <select class="form-control" id="series_status" asp-for="Status" asp-items="Html.GetEnumSelectList<Series.SeriesStatus>()" aria-describedby="series_status_help">
                        </select>
                        <small id="series_status_help" class="form-text text-muted">The scanlation status of this series.</small>
                    </div>
                    <div class="form-group">
                        <div class="input-group" aria-describedby="series_cover_help">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="series_cover" accept=".png" asp-for="Cover">
                                <label class="custom-file-label" for="series_cover" id="series_cover_label">Choose File</label>
                            </div>
                        </div>
                        <small id="series_cover_help" class="form-text text-muted">A cover page for this series. The image must be in the PNG format.</small>
                    </div>
                </fieldset>
                <div>
                    <button class="btn btn-success float-right mt-3" id="submit" type="submit">Save Edits</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Body
{
    <script>
        $(function() {
            $("#series").addClass("active");
        });

        $("#series_cover").change(function(event) {
            const file = event.target.files[0].name;
            $("#series_cover_label").text(file);
        });
    </script>
}