@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <link rel="stylesheet" href="~/libs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/libs/css/site_v1.2.css"/>
    <link rel="stylesheet" href="~/libs/css/login.css"/>
</head>
<body class="bg-primary text-white">
<figure class="figure text-center mx-auto">
    <img class="figure-img img-fluid" src="~/assets/facepalm.jpg" alt=""/>
    <figcaption class="figure-caption font-weight-normal">
        <h1 class="h5">Something is wrong and I probably know how to fix.<br/> If you are seeing this constantly please ping Dinokin#0666 on discord and tell him how you arrived here.</h1>
    </figcaption>
</figure>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>