@inject SettingsManager SettingsManager

@if (ViewData["EnableAdsHere"] != null && (bool) ViewData["EnableAdsHere"])
{
    if (bool.Parse(SettingsManager.GetSetting("EnableAds").Value))
    {
        <div class="container">
            @Html.Raw(SettingsManager.GetSetting("AdsLocationTop").Value)
        </div>
    }
}