@inject SettingsManager SettingsManager

@if (ViewData["EnableAdsHere"] != null && (bool) ViewData["EnableAdsHere"])
{
    if (bool.Parse(SettingsManager.GetSetting("EnableAds").Value))
    {
        if (ViewData["DisableAdsContainer"] != null && (bool) ViewData["DisableAdsContainer"])
        {
            @Html.Raw(SettingsManager.GetSetting("AdsLocationMiddle").Value)
        }
        else
        {
            <div class="container">
                @Html.Raw(SettingsManager.GetSetting("AdsLocationMiddle").Value)
            </div>
        }
    }
}