@inject SettingsKeeper SettingsKeeper

@if (!string.IsNullOrWhiteSpace(SettingsKeeper.GetSetting("SiteSideBar").Value))
{
    <footer class="footer bg-secondary">
        <div class="container">
            <div class="text-center">
                @Html.Raw(SettingsKeeper.GetSetting("SiteFooterCode").Value)
            </div>
        </div>
    </footer>
}
else
{
    <footer class="footer bg-secondary">
        <div class="container">
            <div class="text-center">
                A wild footer appeared. Change it in the admin panel.
            </div>
        </div>
    </footer>
}